#project_body1{
	//height: 2015px;
	background-color: #212121;
}
#select_field{
	height: 135px;
	width: 100%;
}
#select_topic{
	padding-top: 25px;
	height: 55px;
}
#select_form{
	height: 55px;
}
#select_form_topic{
color: white;
//font-weight: bold;
font-size: 15pt;
float: left;
margin-top: 7px;
padding-right: 76px;
padding-left: 32px;
}
#select_form_button{
height: 38px;
width: 50px;
border-radius: 0px;
background-color: #75bf46;
border-style: none;
color: white;
font-size: 11pt;
float: right;
}
#select_form_option{
	float: left;
}
#load_button{
	margin-left: 350px;
border-style: solid;
background-color: #212121;
border-color: #75bf46;
color: #75bf46;
width: 220px;
height: 40px;
margin-bottom: 20px;
font-size: 12pt;
font-weight: lighter;
}
#content_body3_field_cover{
width: 100%;
min-height: 2300px;
padding-left: 5px;
}
.border{
	float: left;
}